.div_title{
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between fields */
  padding: 16px;
  max-width: 500px; /* Optional: Limit width for better look */
  margin: 0 auto; /* Center the form */
}

.div_body{
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between fields */
  padding: 16px;
  max-width: 500px; /* Optional: Limit width for better look */
  margin: 0 auto; /* Center the form */
}

.div_submit{
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between fields */
  padding: 16px;
  max-width: 250px; /* Optional: Limit width for better look */
  margin: 0 auto; /* Center the form */
}

.div_lista{
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between fields */
  padding: 100px;
  max-width: 250px; /* Optional: Limit width for better look */
  margin:0%; /* Center the form */
}